<!DOCTYPE html>
<html>
    <head>
        <title>Plus 500 - Naslovnica</title>
        <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
        <!--<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css"/>-->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
        <!--<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>-->
        <style>
            body 		{ padding-top:80px; }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron text-center">
                <h1><span class="fa fa-lock"></span> Plus 500 - Naslovnica</h1>
    
                <p>Prijavite se ili registirajte novi korisnički račun:</p>
    
                <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Prijava</a>
                <a href="/registracija" class="btn btn-default"><span class="fa fa-user"></span> Registracija</a>
            </div>
        </div>
    </body>
</html>